.body {
  font-family: Arial, Helvetica, sans-serif;
}

.colour-block {
  background: rgb(22, 49, 118);
  width:90%;
  padding:9% 5% 3% 5%;
  color:#fff;
  font: Arial;
}

@media (max-width: 600px) {
  .colour-block   {
    padding:20% 5% 3% 5%;
  }
}

.white-block {
  background:#fff;
  width:90%;
  padding:9% 5% 3% 5%;
  color:rgb(22, 49, 118);
  font: Arial;
}

@media (max-width: 600px) {
  .white-block  {
    padding:20% 5% 3% 5%;
  }
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height: 6.25rem;
  position:absolute;
  left: 0px;
  background: linear-gradient(to right bottom, rgb(22, 49, 118) 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height: 6.25rem;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, rgb(22, 49, 118) 50%);
}

.bold {
  font-weight: bold;
}

.crutch {
  height: 3.125rem;
}

.header {
  width: 100%;
  background-color: #d3611e;
  margin: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

@media (max-width: 900px) {
  .header {
    display: none;
  }
}

.header__nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1019px) {
  .header__nav {
    justify-content: center;
    align-items: center;
  }
}

.header__list {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1019px) {
  .header__list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header__item {
 margin: 0 .7rem;
 align-self: center;
}

.header__link {
  width: 100%;
  min-height: 2.5rem;
  font-size: 1rem;
  border: solid 1.5px #fafafa;
  border-radius: .5rem;
  box-sizing: border-box;
  padding: 6px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #d3611e;
  cursor: pointer;
}

@media (max-width: 1019px) {
  .header__link {
    letter-spacing: normal;
  }
}

.header__link_white {
  color: #fafafa;
}

.header__link_orange {
  background-color: #fafafa;
  color: #d3611e;
  align-self: center;
  margin: auto;
}

.mobile__link {
  text-decoration: none;
  color: #fafafa;
  font: Arial;
  font-size: 1rem;
}
.mobile__link:hover {
  opacity:0.5;
}

.mobile__list {
  padding: 0;
  list-style-type: none;
}

.mobile__nav {
  display: none;
  font: Arial;
  width: 100%;
  background-color: #d3611e;
  height: 3.375rem;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

@media (max-width: 900px) {
  .mobile__nav {
    display: block;
  }
}

#menuToggle {
  display: none;
  flex-direction: column;
  position: relative;
  top: 1rem;
  left: 3rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


@media (max-width: 900px) {
  #menuToggle {
    display: flex;
  }
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #ffffff;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: fit-content;
  box-shadow: 0 0 10px #85888C;
  margin: -3.5rem 0 0 -3.5rem;
  padding: 6rem 3.5rem 3.5rem;
  background-color: #d3611e;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 1px solid #fafafa;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.contacts {
  margin-top: 50px;
  background:#fff;
  width:90%;
  padding: 3% 5% 0 5%;
  color: #000;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .contacts {
    display: none;
  }
  .skew-cc_contacts {
    display: none;
  }
  .skew-c_contacts {
    display: none;
  }
}

.contacts__title {
  text-align: center;
  font-size: 1rem;
  display: none;
  z-index: 1;
}

.contacts__text {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
}

@media (max-width: 500px) {
  .contacts__text  {
    margin: 3rem 1rem 1rem 1rem;
    font-size: 1.5rem;
  }
}

.contacts__span {
  font-style: inherit;
  display: inline;
}

@media (max-width: 1200px) {
  .contacts__span  {
    display: block;
  }
}

.contacts__address {
  margin: 0 0 0 1rem;
  text-decoration: none;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .contacts__address {
    font-size: 1rem;
  }
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media (max-width: 1019px) {
  .contacts__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.contacts__way {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contacts__logo {
  width: 150px;
  margin: 1rem 3rem 1rem 1rem;
  align-self: center;
  vertical-align: middle;
}

@media (max-width: 700px) {
  .contacts__logo  {
    display: none;
  }
}

.contacts__link {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

@media (max-width: 500px) {
  .contacts__link  {
    font-size: 1.5rem;
  }
}
.contacts__icon {
  height: 40px;
}

.heading__name {
  margin: 2rem 0;
  text-align: center;
  line-height: 1;
  font-size: 3rem;
  text-shadow: 2px 0 2px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;
}

@media (max-width: 500px) {
  .heading__name  {
    font-size: 2rem;
  }
}
.heading__span {
  display: block;
}

.heading__type {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}
@media (max-width: 500px) {
  .heading__type  {
    font-size: 1.5rem;
  }
}

.heading__type_small {
  font-size: 1rem;
}
@media (max-width: 500px) {
  .heading__type_small  {
    font-size: .75rem;
  }
}

.heading__download {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: #ffffff 5px dotted;
  border-radius: 5px;
  width: -moz-fit-content; 
  width: -webkit-fit-content; 
  width: fit-content;
  box-sizing: border-box;
  padding: 1rem 0 1rem 1rem;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .heading__download  {
    flex-direction: column;
  }
}

.heading__caption {
  margin: 0 0 .5rem 2rem;
}

.heading__description {
  margin: 0 2rem;
  border-left: #ffffff 5px dotted;
}

@media (max-width: 500px) {
  .heading__description {
    width: 70%;
    border-bottom: #ffffff 5px dotted;
  }
}
.heading__date {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}
@media (max-width: 500px) {
  .heading__date {
    font-size: 1.5rem;
  }
}
.heading__nav {
  margin-top: 1rem;
  display: flex;
  position: relative;
  justify-content: center;
}

.heading__list {
  list-style-type: none; 
  list-style-position: inside;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading__list-item {
  margin: 1rem;
  min-width: 1.75rem;
  width: fit-content;
  min-height: 2rem;
  font-size: 1.5rem;
  border: 2px solid #fafafa;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: .5rem 1rem;
  letter-spacing: 1px;
  background-color:  #d3611e;
  text-align: center;
}

@media (max-width: 500px) {
  .heading__list-item {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .heading__list-item {
    font-size: 0.75rem;
  }
}

@media (max-width: 390px) {
  .heading__list-item {
    min-width: 90%;
  }
}

.heading__anchor {
  text-decoration: none;
  color:  #fafafa;
}

.advantages__graphics {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .advantages__graphics  {
    flex-direction: column;
  }
}

.advantages__small-pic { 
    width: 30%;
}

@media (max-width: 500px) {
  .advantages__small-pic  {
    width: 100%;
  }
}
.advantages__description {
  width: 40%;
  margin: 0;
}

@media (max-width: 500px) {
  .advantages__description   {
    width: 100%;
    margin: 1rem 0;
  }
}
.advantages__text {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 500px) {
  .advantages__text   {
    font-size: 1.5rem;
    margin: .5rem 0;
  }
}
  .advantages__big-pic { 
    width: 30%;
}
  
@media (max-width: 500px) {
  .advantages__big-pic {
    width: 100%;
  }
}

.advantages__paragrath {
  text-align: justify;
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media (max-width: 500px) {
  .advantages__paragrath {
    font-size: 1rem;
  }
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
  content: '+';
  font-weight: bold;
  margin-right: .5rem;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:before {
  content: '-';
  font-weight: bold;
  margin-right: .5rem;
}


.summary {
  font-size: 1.5rem;
  border: solid 1px #000000;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .summary {
    font-size: 1rem;
  }
}

.fit__summary {
  width: 100%;
  margin: 0;
  cursor: pointer;
  font-size: 1.25rem;
}

.day__summary {
  text-align: left;
  text-decoration: none;
  margin: 1rem 0;
  background-color: #fff;
  color: #000;
}

.price__summary {
  text-align: left;
  width: 50%;
  background-color: #d9d7d7;
}

@media (max-width: 800px) {
  .price__summary {
    width: 100%;
  }
}

.tour-list__summary {
  color: #000;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.heading__summary {
  border: 3px #fff dotted;
  margin: auto;
  width: -moz-fit-content; 
  width: -webkit-fit-content; 
  width: fit-content;
}

.advantages__spoiler-text {
  text-align: justify;
  font-size: 1rem;
}

.cards {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row; 
  flex-wrap: wrap;
}


.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

@media (max-width: 950px) {
  .info {
    flex-direction: column; 
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  z-index: 1;
}


@media (max-width: 950px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.5rem;
    margin: 3rem 0 0 0;
  }
}

.card {
  display: flex;
  min-width: 40%;
}

.card_half {
  flex-direction: column;
}

.card__item {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .card__item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card__item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
.card__image {
  width: 15%;
  object-fit: contain;
  object-position: top;
  margin: .5rem 1rem;
}

.card__image_small {
  width: 7%;
}

@media (max-width: 850px) {
  .card__image_small {
    width: 15%;
  }
}

.card__description {
  margin-right: 1rem;
  width: 83%;
}

.card__description_big {
  width: 90%;
}

@media (max-width: 850px) {
.card__description_big {
  width: 100%;
  margin: auto;
  }
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem;
  align-self: flex-start;
  z-index: 1;
}

@media (max-width: 900px) {
  .card__title   {
    font-size: 1.5rem;
  }
}

.card__title_extra-pay {
  font-style: italic;
}

.fit__text {
  font-size: 1rem;
  margin: 0 .5rem;
  text-align: justify;
}

.fit__subtitle {
  font-size: 1rem;
  margin: .5rem auto 0;
  text-align: center;
}

.extra-pay {
  font-style: italic;
}

.card__text {
  font-size: 1.5rem;
  margin: .5rem;
  text-align: justify;
}

@media (max-width: 600px) {
  .card__text  {
    font-size: 1rem;
    margin: 0 .5rem;
  } 
}

.card__text_extra-pay {
  font-style: italic;
}

.card__text_right {
  text-align: right;
  color: grey;
}

.card__text_center {
  text-align: center;
  margin: auto 0;
}

@media (max-width: 500px) {
  .card__text_center  {
    display: none;
  } 
}

.card__text_red {
  color: red;
}

.card__span {
  display: block;
}


@media (max-width: 900px) {
  .card__span  {
    display: inline;
  } 
}

.card__span_bold {
  font-weight: bold;
}

.info__museum {
  width: 100%;
  font-size: 1.5rem;
  margin: .5rem;
}

@media (max-width: 600px) {
  .info__museum   {
    font-size: 1rem;
  } 
}

.info__museums-list {
  width: 100%;
  padding: 0;
  margin: .5rem 0;
  list-style-image: url(../images/icons/check_small.png);
  list-style-position: inside;
}

.tour__mark {
  opacity: .5;
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.day {
  background-color: #fff;
  color: #000;
}

.day__date {
  margin: 0;
}

.day__sightseeing {
  margin: 0;
  font-weight: bold;
}

.day__container {
  display: flex;
  border-bottom: 1px solid #000000;
}

@media (max-width: 850px) {
  .day__container   {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.spacing {
  letter-spacing: -1px;
  margin: 0;
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .spacing   {
    letter-spacing: normal;
    font-size: .75rem;
  }
}

.price__subtitle {
  text-align: center;
  margin: 0;
}


#table-mobile {
  display: none;
}

@media (max-width: 550px) {
  #table-mobile {
    display: table;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
  }
}

#table-mobile caption {
  border: 1px solid black;
  border-bottom: none;
  padding: .5rem;
  text-align: left;
}

#table-mobile tbody {
  width: 100%;
}

#table-mobile thead {
  width: 100%;
  border: 1px solid black;
}

#table-mobile td {
  width: auto;
  border: 1px solid black;
  text-align: center;
  padding: .5rem 0;
  font-size: 1rem;
}

#table-mobile th {
  width: auto;
  border: 1px solid black;
  text-align: center;
  padding: .5rem 0;
  font-size: 1rem;
}

.table__text {
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .table__text    {
    font-size: 1rem;
  }
}

.table__span {
  font-weight: bold;
}

@media (max-width: 900px) {
  .table__span   {
    display: block;
  }
}

@media (max-width: 480px) {
  .table__span   {
    display: inline;
  }
}

#table-desktop_only  {
  width: fit-content;
  display: table;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
}

#table-desktop {
  width: fit-content;
  display: table;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
}

th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
@media (max-width: 550px) {
  #table-desktop   {
    display: none;
  }
}

@media (max-width: 900px) {
  #table-desktop  {
    width: 100%;
    font-size: 1rem;
  }
}

#table-desktop th {
  border: 1px solid black;
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
}

#table-desktop td {
  border: 1px solid black;
  padding: .5rem;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  #table-desktop th{
    font-size: 1rem;
  }
  #table-desktop td {
    font-size: 1rem;
  }
}
  
#table-desktop td:first-of-type {
  text-align: left;
  width: fit-content;
}
#table-desktop td:not(:nth-child(1)) {
  width: auto;
} 

tr:hover { background-color: #d9d7d7;}

.price__title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 0 0;
  z-index: 1;
}

.price__includes {
  padding: 0;
  margin: 0;
  list-style-image: url(../images/icons/plus.png);
  list-style-position: inside;
}

.price__service {
  font-size: 1.5rem;
  margin: 0;
}
@media (max-width: 500px) {
  .price__service  {
    font-size: 1rem;
  }
}
.price__excursion {
  margin: 0 0 0 4rem;
}

.price__spoiler {
  margin: 1rem 0;
}

.price__not-includes {
  padding: 0;
  margin: 0;
  list-style-image: url(../images/icons/minus.png);
  list-style-position: inside;
}

.price__mobile {
  display: none;
}

@media (max-width: 481px) {
  .price__mobile {
    display: block;
    width: 100%;
  }
}

.form {
  margin: auto;
  width: 550px;
}

@media (max-width: 800px) {
  .form {
    width: 100%;
  }
}

.tour-list__card {
  width: 45%;
  margin: 1rem 0;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  color: #000000;
}

@media (max-width: 1024px) {
  .tour-list__card {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 780px) {
  .tour-list__card {
    width: 100%;
    flex-direction: row;
  }
}


@media (max-width: 579px) {
  .tour-list__card {
    flex-direction: column;
    justify-content: space-between;
  }
}

.tour-list__card_summer {
  background-image: linear-gradient(rgb(224, 236, 0), rgb(34, 221, 13));
}

.tour-list__card_autumn {
  background-image: linear-gradient(rgb(248, 197, 14), rgb(232, 93, 13));
}

.tour-list__card_winter {
  background-image: linear-gradient(rgb(147, 219, 248), rgb(22, 102, 241));
}

.tour-list__card_all-seasons {
  background-image: url(/images/icons/all_seasons_border_small.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
}

.tour-list__span {
  display: block;
}

.tour-list__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.icon {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon__caption {
  text-align: center;
  font-size: .85rem;
  margin: 0;
}

@media (max-width: 1200px) {
  .icon__caption {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .icon__caption {
    font-size: .75rem;
  }
}

.icon__img {
  max-height: 50px;
  object-fit: contain;
  margin: 0;
}

@media (max-width: 1200px) {
  .icon__img {
    max-height: 40px;
  }
}

.tour-list__button {
  width: fit-content;
  min-height: 2.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  background-color: blue;;
  color:  #fafafa;
  border: 2px solid #fafafa;
  font-family: Arial;
  margin: 1rem 0 0 0;
}

.tour-list__photo {
  width: 50%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
  margin: .5rem 0;
  align-self: start;
}

@media (max-width: 1024px) {
  .tour-list__photo {
    width: 100%;
    height: 25vh;
    object-position: center center;
  }
}

@media (max-width: 780px) {
  .tour-list__photo {
    width: 50%;
    height: 40vh;
    object-position: top;
  }
}

@media (max-width: 579px) {
  .tour-list__photo {
    width: 100%;
    height: 25vh;
    margin: .5rem 0;
    object-position: center center;
  }
}

.tour-list__description {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  box-sizing: border-box;
  padding: .5rem;
}

@media (max-width: 1024px) {
  .tour-list__description  {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .tour-list__description  {
    width: 50%;
  }
}

@media (max-width: 579px) {
  .tour-list__description  {
    width: 100%;
  }
}

.tour-list__grafic {
  display: flex;
}

.tour-list__title {
  margin: 0 0 .5rem 0;
  text-align: center;
  z-index: 1;
}

.tour-list__link {
 font-size: 1.5rem;
 color: blue;
}

@media (max-width: 1250px) {
  .tour-list__link  {
    font-size: 1.5rem;
  }
}

.tour-list__seo-text {
  color: darkslategray;
  font-size: 1rem;
  margin: 0 0 .5rem 0;
  line-height: .9;
  text-align: center;
}


@media (max-width: 500px) {
  .tour-list__seo-text {
    display: none;
  }
}

.tour-list__date {
  color: #000;
  margin: 0 0 .5rem 0;
  text-align: center;
  font-size: 1.2rem;
}

.tour-list__museums {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  color: #000;
}

.catalog__row {
  display: flex;
  width: 100%;
  margin: 5px auto;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  color: #000000;
}

.fit__details {
  box-sizing: border-box;
  padding: 5px;
  border: .5px solid #000000;
}

.fit__container{
  display: flex;
  width: 100%;
}

.persons {
  background-color: rgb(22, 49, 118);
  color: #ffffff;
  font-weight: bold;
}

.fit__heading {
  width: 10%;
}

.fit__heading2 {
  display: none;
}

.fit__heading4 {
  display: none;
}

.fit__price {
  width: 5.625%;
}

.fit__cell {
  border: .5px solid grey;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .fit__cell {
    font-size: 1rem;
  }
}

@media (max-width: 990px) {
  .fit__container{
    flex-wrap: wrap;
  }
  .fit__heading {
    width: 20%;
  }
  .fit__heading2 {
    display: block;
  }
  .fit__price {
    width: 10%;
  }
}

@media (max-width: 750px) {
  .fit__price {
    width: 20%;
  }
  .fit__heading {
    width: 20%;
  }
  .fit__heading4 {
    display: block;
  }
}


@media (max-width: 500px) {
  .fit__price {
    width: 17.5%;
  }
  .fit__heading {
    width: 30%;
  }
}

.icon_bordered {
  border-left: #201717 1px solid;
  margin: 1px;
  box-sizing: border-box;
  padding: 5px;
  width: 10%;
}

.catalog__days{
  margin: 0;
}

.catalog__text {
  margin: .5rem 0 0 0;
}

.catalog__conteiner-text {
 width: 35%;
 box-sizing: border-box;
 padding: 5px;
}

.catalog__link {
  font-weight: bold;
}

.catalog__download-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: #000000 1px solid;
  width: 15%;
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 1400px) {
  .catalog__download-container {
    justify-content: space-evenly;
  }
}

.catalog__conteiner-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  border-left: #000000 1px solid;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

.catalog__download-icon {
  height: 60px;
  object-fit: contain;
}

@media (max-width: 1100px) {
  .catalog__download-container {
    padding: 5px;
  }
  .icon_bordered {
    justify-content: start;
  }
}

@media (max-width: 899px) {
  .catalog__row {
    flex-wrap: wrap;
    border-top: none;
    justify-content: space-between;
    border: #000000 1px solid;
  }
  .catalog__conteiner-text {
    width: 59%;
    border: none;
  }
  .catalog__conteiner-days {
    width: 14%;
    border: none;
  }
  .icon_bordered {
    width: 24%;
    border: none;
  }
  .catalog__download-container {
    width: 24%;
    border: none;
  }
  .catalog__text {
    font-size: 1.25rem;
  }
  .catalog__link {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .catalog__days {
    font-size: 1.25rem;
  }
  .catalog__download-icon {
    height: 75px;
  }
}

@media (max-width: 650px) {
  .catalog__link {
    font-size: 1.25rem;
  }
  .catalog__text {
    font-size: 1rem;
  }
  .catalog__days {
    font-size: 1rem;
  }
  .catalog__conteiner-text {
    width: 49%;
  }
  .catalog__conteiner-days {
    width: 16%;
  }
  .catalog__download-container {
    width: 34%;
  }
}

@media (max-width: 500px) {
  .catalog__download-icon {
    height: 60px;
  }
}

@media (max-width: 449px) {
  .catalog__download-container {
    flex-direction: column;
  }
  .catalog__download-icon {
    height: 50px;
  }
  .catalog__conteiner-text {
    width: 59%;
  }
  .catalog__conteiner-days {
    width: 24%;
  }
  .catalog__download-container {
    width: 16%;
  }
}